#box1{
    border: 5px solid black;
    width: 200px;
    height: 200px;
    background-color: green;
    font-size: 150px;
    text-align: center;
    

    transform:translatey(50px);

    transform:translatex(50px);

    transform: rotate(45deg);

    transform: scale(0.5);

    transform: skew(45deg);
    transform: skewY(20deg);

    transform: matrix(1, 0, 0, 1,0,0);
}